body {
  margin: 0;
  background-color: rgb(243, 243, 243);
}

/* index  */
.main_wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3em;
  text-transform: capitalize;
  text-align: center;
}

.button {
  float: center;
  width: fit-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.1em;
  background-color: aqua;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.2rem;
  text-transform: capitalize;
  text-decoration: none;
  border: none;
}

.button:hover {
  background-color: gray;
}

.list {
  margin: auto;
  position: relative;
  width: 100%;
  min-width: 500px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.list-item {
  width: calc(85% - 4rem);
  padding: 2rem;
  height: 40vh;
  min-height: 40vh;
  background-color: rgb(246, 246, 246);
  margin-top: 0.5rem;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}

.list-item:hover {
  background-color: rgb(255, 255, 255);
}

.item-actions {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.item-action {
  text-transform: uppercase;
  text-decoration: none;
}

/* Dodaj */

.form {
  position: absolute;
  width: 60%;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: rgb(239, 235, 235);
  padding: 2rem;
  border-radius: 2rem;
}

.form-title {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: bold;
}

.form-label {
  text-align: left;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}

.form-input {
  width: 50%;
  border-radius: 0.25rem;
  padding: 0.25rem;
  background-color: rgb(252, 252, 252);
}

.form-textarea {
  width: 100%;
  padding: 0.25rem;
  height: 5rem;
  border-radius: 0.25rem;
  background-color: rgb(252, 252, 252);
}

/* Uredi */

/* Recept */
