<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="edit-wrapper">
      {% block content %}
      <form method="post" class="form">
        <div class="form-title">Dodaj Recept</div>
        <label class="form-label">Naziv recepta:</label>
        <input class="form-input" name="recipe"
        value="{{request.form["recipe"]}}" required />

        <label class="form-label">Link slike:</label>
        <input class="form-input" name="image"
        value="{{request.form["image"]}}" />

        <label class="form-label">Sastojci:</label>
        <input class="form-input" name="ingredients"
        value="{{request.form["ingredients"]}}" required />

        <label class="form-label">Kategorija:</label>
        <input class="form-input" name="category"
        value="{{request.form["category"]}}" required />

        <label class="form-label">Opis recepta:</label>
        <textarea class="form-textarea"" name="description"
        value="{{request.form["description"]}}" required /></textarea>

        <button class="button" type="submit">DODAJ</button>
      </form>
      {% endblock %}
    </div>
    >
  </body>
</html>
