<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="edit-wrapper">
      {% block content %}
      <form method="post" class="form">
        <label class="label">Naziv recepta:</label>
        <input class="input" name="receipt" value="{{request.form["receipt"]}}"
        required />
        <label class="label">Opis recepta:</label>
        <input class="input"" name="description"
        value="{{request.form["description"]}}" required />
        <button type="submit">DODAJ</button>
      </form>
      {% endblock %}
    </div>
    >
  </body>
</html>
