<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>RecipeList</title>
  </head>
  <body>

    <div class="navbar-wrapper">
      <a href="/" class="title">RecipeList</a>
      <div>
        <a type="button" href={{url_for("add")}} class="button">dodaj recept</a>
        <a href={{url_for("statistics")}} class="nav-option"> Statistika </a>
        <a href={{url_for("user_recipes")}} class="nav-option">Moji Recepti</a>
        <a href={{url_for("saved_recipes")}} class="nav-option">Spremljeni Recepti</a>
        <a href={{url_for("user_select")}} class="nav-option" style="font-size: 0.5em; color: gray;">Promjena korisnika</a>

      </div>
    </div>
    <div class="main_wrapper">

      <div class="search-wrapper">
        <form method="post" class="search-form">
          <input name="search" style="width: 70%; height: inherit;" value="{{request.form["search"]}}">
          <button class="button" style="width: 25%; margin-left: 5%; height: inherit;" type="submit">Pretraži</button>
        </form>
        </div>

      <div class="list">
        {% block content %} {% for d in data %}
        <a href="/recipe/{{d.id}}" class="link-wrapper">
        <div class="list-item">
          <div class="show-info-wrapper">
            <img class="show-image" src="{{d.image}}"/>
            <div>
              <div class="show-title">{{d.recipe}}</div>
              <div class="show-description">{{d.description}}</div>
            </div>            
          </div>
          

          <div class="item-actions">
            {% if currentUser == d.user %}
            <a type="a" class="action-wrapper" href="/edit/{{d.id}}">
              <img src="{{ url_for('static',filename='images/edit_icon.png') }}" class="item-action"/>
            </a>
            <a class="action-wrapper" href="/delete/{{d.id}}">
              <img src="{{ url_for('static',filename='images/delete_icon.png') }}"  class="item-action"/>
            </a>

            {% else %}
            <a type="a" class="action-wrapper" style="background-color: rgb(78, 78, 78); cursor: default;">
              <img src="{{ url_for('static',filename='images/edit_icon.png') }}" class="item-action"/>
            </a>
            <a type="a" class="action-wrapper" style="background-color: rgb(78, 78, 78); cursor: default;">
              <img src="{{ url_for('static',filename='images/delete_icon.png') }}"  class="item-action"/>
            </a>

            {% endif %}
          </div>

          
        </div>
        </a>
        {% endfor %} {% endblock %}
      </div>
    </div>

  </body>
</html>
