<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav-wrapper">
      <a href={{url_for("dodaj_recept")}} class="nav-item">DODAJ NOVI RECEPT</a>
      <div class="nav-item">UREDI RECEPT</div>
      <div class="nav-item">IZBRISI RECEPT</div>
    </div>
    <div class="main_wrapper">
      <div class="title">helo</div>
      <ul class="list">
        {% block content %} {% for d in data %}
        <li>{{d.receipt}}</li>
        {% endfor %} {% endblock %}
      </ul>
    </div>
  </body>
</html>
