<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
  </head>
  <body>


    <div class="main_wrapper">
      <div class="title">helo</div>
      <a type="button" href={{url_for("dodaj")}} class="button">dodaj recept</a>
      <div class="list">
        {% block content %} {% for d in data %}
        <div class="list-item">
          <div class="item-title">{{d.receipt}}</div><div class="item-actions">
            <a href={{url_for("dodaj")}} class="item-action">Uredi</a>
            <a href="/delete/{{d.id}}" class="item-action">Obrisi</a>
          </div></div>
        {% endfor %} {% endblock %}
      </div>
    </div>
  </body>
</html>
