<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>RecipeList</title>
  </head>
  <body>
    <div class="navbar-wrapper">
      <a href="/" class="title">RecipeList</a>
      <div>
        <a type="button" href={{url_for("add")}} class="button">dodaj recept</a>
        <a href={{url_for("user_recipes")}} class="nav-option">Moji Recepti</a>
        <a href={{url_for("saved_recipes")}} class="nav-option">Spremljeni Recepti</a>
        <a href={{url_for("statistics")}} class="nav-option"> Statistika </a>
        <a href={{url_for("user_select")}} class="nav-option" style="font-size: 0.7em; color: gray;">Promjena korisnika</a>
      </div>
    </div>
    <div class="user-select-wrapper">
        <form method="post" class="user-form">
      <input type="submit" name="submit_user" class="button" value="user1"></input>
      <input type="submit" name="submit_user" class="button" value="user2"></input>
    </form>
    </div>
  </body>
</html>
