<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RecipeList</title>
  </head>
  <body>
    <div class="navbar-wrapper">
      <a href="/" class="title">RecipeList</a>
      <div>
        <a type="button" href={{url_for("add")}} class="button">dodaj recept</a>
        <a href={{url_for("user_recipes")}} class="nav-option">Moji Recepti</a>
        <a href={{url_for("saved_recipes")}} class="nav-option">Spremljeni Recepti</a>
        <a href={{url_for("statistics")}} class="nav-option"> Statistika </a>
        <a href={{url_for("user_select")}} class="nav-option" style="font-size: 0.7em; color: gray;">Promjena korisnika</a>
      </div>
    </div>
    <div class="edit-wrapper">
      {% block content %}
      <form method="post" class="form">
        <div class="form-title">Uredi Recept</div>
        <label class="form-label">Naziv recepta:</label>
        <input class="form-input" name="recipe"
        value="{{data.recipe}}" required />

        <label class="form-label">Link slike:</label>
        <input class="form-input" name="image"
        value="{{data.image}}" />

        <label class="form-label">Sastojci:</label>
        <input class="form-input" name="ingredients"
        value="{{data.ingredients}}" required />

        <label class="form-label">Kategorija:</label>
        <input class="form-input" name="category"
        value="{{data.category}}" required />

        <label class="form-label">Opis recepta:</label>
        <textarea class="form-textarea"" name="description"
        required />{{data.description}}</textarea>

        <button class="button" type="submit">DODAJ</button>
      </form>
      {% endblock %}
    </div>
    >
  </body>
</html>
